h1 {
    color:#223388;
}
.red-border {
    border: 2px solid red;
}
.darkred-text {
    color: rgb(196, 32, 32);
}

.each-paying-hidden {
    display: none;
}

.each-paying-shown {
    display: block;
}